default_language_version:
    python: python3.9
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-merge-conflict
  - id: check-ast
  - id: check-json
  - id: check-yaml
  - id: check-docstring-first
  - id: end-of-file-fixer
  - id: requirements-txt-fixer


- repo: https://github.com/ambv/black
  rev: 22.6.0
  hooks:
  - id: black
    language_version: python3.9

- repo: git@github.com:humitos/mirrors-autoflake.git
  rev: v1.1
  hooks:
    - id: autoflake
      args: ['--in-place', '--remove-all-unused-imports', '--remove-unused-variable']
