{
    "env": {
      "browser": true,
      "es6": true,
      "jest/globals": true
    },
    "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      },
      "useJSXTextNode": true,
      "extraFileExtensions": [".tsx"]
    },
    "extends": ["airbnb", "plugin:@typescript-eslint/recommended", "prettier/@typescript-eslint"],
    "plugins": ["react", "jsx-a11y", "import", "@typescript-eslint", "prettier", "jest"],
    "settings": {
      "react": {
        "pragma": "React",
        "version": "detect"
      },
      "import/resolver": {
        "typescript": {}
      }
    },
    "rules": {
      "react/jsx-one-expression-per-line": "off",
      "operator-linebreak": "off",
      "lines-between-class-members": "off",
      "arrow-parens": ["error", "as-needed"],
      "consistent-return": "warn",
      "import/prefer-default-export": "off",
      "import/no-extraneous-dependencies": "off",
      "max-len": ["error", { "code": 200 }],
      "no-comma-dangle": "off",
      "object-curly-newline": "off",
      "quotes": ["error", "double"],
      "react/jsx-filename-extension": "off",
      "react/jsx-props-no-spreading": "off",
      "react/prop-types": "off",
      "@typescript-eslint/explicit-function-return-type": "off",
      "@typescript-eslint/interface-name-prefix": "off",
      "@typescript-eslint/no-unused-vars": "error",
      "@typescript-eslint/explicit-member-accessibility": "off",
    }
  }
  
